@font-face {
  font-family: "HallymGothic-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymGothic-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "HallymGothic-Regular";
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.box {
  width: 30rem;
  height: 30rem;
  margin: 3rem 0;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.box p {
  font-size: 30px;
}

.box span {
  font-size: 20px;
}

button {
  font-family: "HallymGothic-Regular";
  padding: 1rem;
  margin: 2rem 0;
  font-size: 15px;
  border-radius: 20px;
  border: none;
  box-shadow: 2px 2px 2px 2px gray;
  transition: transform 0.1s ease-in-out;
}

button:hover {
  transform: scale(0.97);
  cursor: pointer;
}

.circle,
.greenCircle {
  width: 30rem;
  height: 30rem;
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: beige;
}

.blueCircle {
  background-color: aqua;
  cursor: pointer;
}

.circle p {
  font-size: 2.3rem;
}

.time {
  font-size: 1.5rem;
}

.back {
  margin-left: 1.5rem;
}
